.className {
  background: rgb(27, 28, 29);

  :global(.ui.vertical.menu) {
    margin: 0;
    border-radius: 0;

    > :global(.item) {
      border-radius: 0 !important;

      &:last-child:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.08);
        width: 100%;
        height: 1px;
      }
    }
  }
}
