.className {
  &.empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #333 !important;
    user-select: none;
  }
}
