.className {
  .item {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }

    label {
      display: inline-block;
      text-align: right;
      width: 8rem;
      margin-right: 2rem;
    }
  }
}
