.className {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;

  .left {
    display: flex;
    flex-direction: column;
    flex: 1;

    .editor {
      flex: 1;
      border-bottom: 1px solid #666;
    }

    .dem {
      height: 200px;
      background: #16161d;
      color: #fff;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    width: 33.33%;

    .map {
      flex: 1;
    }

    .layers {
      height: 200px;
      background: #16161d;
      color: #fff;
      border-left: 1px solid #666;
      border-bottom: 1px solid #666;

      li:global(.actived) {
        background: #333;
      }
    }

    .detail {
      height: 200px;
      padding: 8px 12px;
      font-family: monospace;
      background: #16161d;
      color: #fff;
      overflow-y: auto;
      border-left: 1px solid #666;
    }
  }
}
