.className {
  fill: #ffffff;
  cursor: pointer;

  .background {
    fill: none;
  }

  text {}

  &:global(.actived) {
    .background {
      stroke: #ffffff;
    }

    text {}
  }

  &:global(.primary) {
    .background {
      fill: #ffffff;
      stroke: #ffffff;
    }

    text {
      fill: #000000;
    }
  }
}
