.className {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  .menu {
    border-right: 1px solid #666;
  }

  .content {
    position: relative;
    flex: 1;
    background: #16161d;

    .layer {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .debug {
      font-family: monospace;
      padding: 8px 12px;
      color: #fff;
      overflow: hidden;
      user-select: none;
      pointer-events: none;
    }
  }
}
