.className {
  pointer-events: none;
  user-select: none;

  .grid {
    path {
      stroke: #333;
    }

    text {
      fill: #333;
    }

    &:global(.em) {
      path {
        stroke: #666;
      }

      text {
        fill: #666;
      }
    }

    &:global(.axis) {
      path {
        stroke: #fff;
      }

      text {
        fill: #fff;
      }
    }
  }
}
