.className {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: auto;

  li {
    padding: 8px 12px;
    border-bottom: 1px solid #666;
    cursor: pointer;

    .action {
      float: right;

      a {
        margin-left: 12px;
      }
    }
  }
}
